<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign-in</title>
    <link rel="stylesheet" href="./css/login.css">
  </head>
  <body>
    <div class="login-card">
      <h1><%= title %></h1>
      <% if (flash) { %>
        <p><%= flash %></p>
      <% } %>
      <form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
        <input required type="email" name="email" placeholder="Enter an email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
        <input required type="password" name="password" placeholder="and password" <% if (params.login_hint) { %>autofocus="on"<% } %>>

        <button type="submit" class="login login-submit">Sign-in</button>
      </form>
      <script
        async
        src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-login="dinhns96_bot"
        data-size="large"
        data-onauth="onTelegramAuth(user)"
        data-auth-url="https://saw-sso-api-lab.saworld.io/auth/telegram"
        data-request-access="write"
    ></script>

    <script type="text/javascript">
      async function onTelegramAuth(user) {
        if (user) {
          const response = await fetch("/login", {
            method: "POST",
            headers: { "content-type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams({
              id: encodeURIComponent(user.id),
              firstName: encodeURIComponent(user.first_name),
              lastName: encodeURIComponent(user.last_name),
              photoUrl: encodeURIComponent(user.photo_url),
              authDate: encodeURIComponent(user.auth_date),
              hash: encodeURIComponent(user.hash),
            }),
          });

          if (response.ok) {
            // const redirectUrl = await response.text();
            const redirectUrl = 'https://saw-sso-api-lab.saworld.io/oauth2/authorize?response_type=code&client_id=7298037039:AAFZcLvnViUWmLyVEoVSzyUfGfR0T9kdiJM&redirect_uri=https%3A%2F%2Fsso-dev.saworld.io%2Frealms%2Fsummonersarena%2Fbroker%2Ftelegram%2Fendpoint&scope=openid%20write&state'
            window.location.href = redirectUrl;
          } else {
            console.error("Login failed");
          }
        }
      }
    </script>
  </body>
</html>
